<style>

    .footer{
        padding: 0px 10px 5px 0px;
    }
    .footer a{
        color: inherit;
    }
</style>

<footer>
    <ul class="nav fw-bolder footer">
        <li class="nav-item">
            <a class="nav-link active" href="#">
                Về chúng tôi
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Phản hồi
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Giúp đỡ
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                Liên kết
            </a>
        </li>
    </ul>
</footer>