<div class="border-bottom border-2 border-dark">
    <div class='container'>
        <div class="row">
            <div class="col py-2 text-center text-md-start">
                <h1 class="display-1">HaUI Talk</h1>
                <p class='fs-4 lh-1 text-muted'> Nơi chia sẻ các bài viết hay </p>
                <button type="button" class="btn btn-dark rounded-pill px-5">Bắt đầu đọc</button>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>