{% extends 'blog/base.html' %}

{% load static %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
{% include 'blog/nav_bar.html' %}
{% include 'blog/component/line.html' %}


<div class='container pt-5'>
    <div class='row'>
        <div class='col-12 col-lg-8'>
            {% for article in articles %}
                {% if article.types_blog == 'bình luận' %}
                <a href="/blog/view/{{ article.id }}/" class="text-decoration-none infscroll">
                    <div class='card border-0 pb-3 pb-sm-5'> 
                        <div class='row'>
                            <div class='col-8'>
                                <div class='card-body p-0'>
                                    <div class="pb-2 text-body infscroll-author">{{article.reporter}}</div>
                                    <h1 class="mb-1 text-body fw-bold" >{{article.title|truncatechars:50}}</h1>

                                    {% for tag in article.show_tag %}
                                        <h5 class='d-inline text-muted'>{{tag}}</h5>
                                    {% endfor %}

                                    <h5 class='text-muted infscroll-date'>{{article.pub_date}}</h5>
                                </div>
                            </div>
                            <div class='col-4'>
                                <img src={% static 'image/200x200.png' %} class="img-thumbnail" alt="...">
                            </div>
                        </div>
                    </div>
                </a>
                </br>
                {% endif %}
            {% endfor %}
        </div>
        <div class="d-none d-lg-block col-4">
            {% include 'blog/footer.html' %}
        </div>
    </div>
</div>

{% endblock %}