{% extends 'images/base.html' %}

{% load static %}

{% block title %}Tăng giảm độ sáng{% endblock %}

{% block style %}

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#rangeValue {
    position: relative;
    display: block;
    text-align: center;
    font-size: 3em;
    color: #999;
    font-weight: 400;
}
.range {
    width: 350px;
    height: 15px;
    -webkit-appearance: none;
    background: #111;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #a1baff;
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px #b2d27b;
  }
</style>


{% endblock %}

{% block js %}
<script type="text/javascript">
    function rangeSlidecurrent_range(value) {
        document.getElementById('rangeValue1').innerHTML = value;
    };
    function rangeSlidecurrent_alpha(value) {
        document.getElementById('rangeValue2').innerHTML = value;
    };
</script>
{% endblock %}

{% block nav1 %}<a class="nav-link active" aria-current="page" href={% url 'brightness' %}>Độ sáng</a>{% endblock %}


{% block content %}
<div class='container text-center mt-3'>
    <img
        {% comment %} src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" {% endcomment %}
        {% comment %} src = "{% static 'image/default.webp' %}" {% endcomment %}
        src = "data:image/jpg;base64, {{brightness}}"
        class="img-thumbnail"
        alt="Bạn chưa tải ảnh lên cơ sở dữ liệu"
    />
</div>
<div class='container'>
    <form method='post' class="form-signin text-center">
        {% csrf_token %}
        {% if is_image %}
        <label for="customRange" class="form-label" id="rangeValue1" name="show_range_output">{{current_range}}</label>
        <div>
            <input class="range" type="range" name = "rangeValue_in" value={{current_range}} min="-255" max="255" onChange="rangeSlidecurrent_range(this.value)" onmousemove="rangeSlidecurrent_range(this.value)" />
        </div>
        <label for="customRange" class="form-label" id="rangeValue2" name="show_alpha_output">{{current_alpha}}</label>
        <div>
            <input class="range" type="range" name = "show_alpha" value={{current_alpha}} min="1" max="10" onChange="rangeSlidecurrent_alpha(this.value)" onmousemove="rangeSlidecurrent_alpha(this.value)"/>
        </div>
        <button class="btn mt-20 w-50" type="submit">Đổi</button>
        {% endif %}
    </form>
</div> 
{% endblock %}
